{:food-catalog
 {:kartoffel-mehligkochend #{:gemüse :stärkehaltig :geschmacks-verfeinernd :weichkochend :kartoffel}
  :kartoffel-festkochend   #{:gemüse :stärkehaltig :geschmacks-verfeinernd :festkochend :kartoffel}
  :süsskartoffel           #{:gemüse :stärkehaltig :geschmacks-verfeinernd :festkochend :kartoffel}
  :karotten                #{:gemüse :stärkehaltig :geschmacks-definierend :festkochend}
  :knollensellerie         #{:gemüse :umami}
  :kohlrabi                #{:gemüse :kohl :geschmacks-definierend :festkochend}
  :stangensellerie         #{:gemüse :säurehaltig :festkochend}
  :randen                  #{:gemüse}
  :blumenkohl              #{:gemüse :kohl :geschmacks-verfeinernd :festkochend}
  :broccoli                #{:gemüse :festkochend}
  :romanesco               #{:gemüse :festkochend}
  :roter-kabis             #{:gemüse}
  :weisser-kabis           #{:gemüse}
  :rotkraut                #{:gemüse :stärkehaltig}
  :cherry-tomaten          #{:gemüse :umami :geschmacks-definierend :säurehaltig}
  :tomate                  #{:gemüse :umami :geschmacks-definierend :säurehaltig}
  :radieschen              #{:gemüse :geschmacks-definierend :scharf}
  :weisser-rettich         #{:gemüse :geschmacks-definierend :scharf}
  :gurke                   #{:gemüse :geschmacks-verfeinernd}
  :paprika                 #{:gemüse :festkochend}
  :avocado                 #{:gemüse :stärkehaltig}
  :chicoree                #{:gemüse :geschmacks-verfeinernd :säurehaltig :festkochend}
  :jungspinat              #{:gemüse}
  :spinat                  #{:gemüse}
  :nüsslisalat             #{:gemüse :salat}
  :rucola                  #{:gemüse :salat}
  :auberginen              #{:gemüse :geschmacks-verfeinernd}
  :zucchetti               #{:gemüse :geschmacks-verfeinernd}
  :mais                    #{:gemüse :stärkehaltig :festkochend}
  :grüne-bohnen            #{:gemüse :festkochend}
  :rote-bohnen             #{:gemüse :stärkehaltig :weichkochend}
  :fenchel                 #{:gemüse :geschmacks-definierend :festkochend}
  :lauch                   #{:gemüse :geschmacks-definierend}
  :federkohl               #{:gemüse}
  :krautstiel              #{:gemüse}
  :lattich                 #{:gemüse}
  :champignon              #{:gemüse :pilz}
  :kräuterseitling         #{:gemüse :pilz}
  :steinpilz               #{:gemüse :pilz}
  :shiitake                #{:gemüse :pilz :umami}
  :artischocken            #{:gemüse}
  :knoblauch               #{:gemüse :geschmacks-definierend :scharf}
  :zwiebel                 #{:gemüse :geschmacks-definierend}
  :frühlingszwiebel        #{:gemüse :geschmacks-definierend}
  :schalotte               #{:gemüse :geschmacks-definierend}
  :kresse                  #{:gemüse :salat}
  :kürbis                  #{:gemüse :stärkehaltig :geschmacks-definierend}
  :rosenkohl               #{:gemüse :stärkehaltig :kohl :festkochend}
  :wirsing                 #{:gemüse :kohl}

  :basilikum               #{:gewürz :kräuter}
  :dill                    #{:gewürz :kräuter}
  :estragon                #{:gewürz :kräuter}
  :kerbel                  #{:gewürz :kräuter}
  :koriander               #{:gewürz :kräuter}
  :majoran                 #{:gewürz :kräuter}
  :oregano                 #{:gewürz :kräuter}
  :pfefferminze            #{:gewürz :kräuter}
  :rosmarin                #{:gewürz :kräuter}
  :salbei                  #{:gewürz :kräuter}
  :schnittlauch            #{:gewürz :kräuter :dekoration}
  :thymian                 #{:gewürz :kräuter}
  :zitronenmelisse         #{:gewürz :kräuter}
  :zitronensaft            #{:gewürz :säurehaltig}
  :petersilie              #{:gewürz :kräuter :dekoration}
  :ingwer                  #{:gewürz :scharf}
  :peperonchini            #{:gewürz :scharf}

  :ei                      #{:eiweiss-haltig :festkochend}

  :milch                   #{:eiweiss-haltig :milchprodukt :geschmacks-verfeinernd :umami}
  :rahm                    #{:eiweiss-haltig :milchprodukt :geschmacks-verfeinernd :umami}
  :mascarpone              #{:eiweiss-haltig :milchprodukt :käse :geschmacks-verfeinernd :umami}
  :mozarella               #{:eiweiss-haltig :milchprodukt :käse :geschmacks-verfeinernd :umami}}
 ; ,,, #{:fleisch :umami},,, #{:dekoration}

 :food-compatibility-matrix
 {[:food/broccoli :food/lauch] 0.5
  [:food/lauch :food/tomate]   100.0}}
