body {
    background-color: #c7de33;
    font-family: "Arial";
}

#header {
    margin: 3em 0 1em 0;
    text-align: center;
}

h1 {
    text-align: center;
}

h1 i {
    padding: 0 0.35em;
}

#app-icon {
    display: block;
    padding: auto;
    margin-bottom: 3em;
}

hr {
    width: 40%;
    background-color: black;
    height: 1px;
    border: none;
    margin-bottom: 2em;
}

#meal-ingredients {
    margin: auto;
}

#meal-ingredients tr td:first-child {
    font-weight: bold;
    text-align: right;
    padding-left: 2em;
}

#meal-ingredients tr td:last-child {
    padding-right: 2em;
}

#meal-ingredients tr:hover {
    background-color: #e5ff3b;
}

#meal-ingredients th {
    text-align: left;
}

#meal-ingredients tr {
    vertical-align: text-top;
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 0.5em;
    font-size: large;
    /*border: 1px solid black;*/
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

i {
    padding: 0.2em 0.35em;
}

a, a:link, a:visited {
    color: black;
}

a:hover {
    color: #de4a33;
}

#about-text {
    padding: 0 31%;
    text-align: justify;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 500px;
    margin: 0.25em 25%;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
}

blockquote cite {
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}

p {
    line-height: 1.3em;
}